
footer{
    border-top: #ccc 2px solid;
    height: 10vh;
    text-align:center;
      
}

main{
    height: 90vh;
}

#reservar-btn:hover{
    background-color: #ccc;
    cursor: pointer;
}

#turnos-reservados h2 {
    font-size: 1.5em;
    color: #333;
}

#turnos-reservados ul {
    list-style-type: none;
    padding: 0;
}

#turnos-reservados li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}
